@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@900&display=swap");

body {
  background-image: url("../../images/homeBookCase.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(249, 246, 240, 100%);
  font-family: "Roboto", sans-serif;
}

#emailBox {
  background-color: rgb(255, 255, 255, 100%);
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 350px;
  height: 50px;
  padding: 5px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 40%);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

#passwordBox {
  background-color: rgb(255, 255, 255, 100%);
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 350px;
  height: 50px;
  padding: 5px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 40%);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 50%;
  left: 50%;
  position: static;
}

#loginBtn {
  background-color: rgba(26, 46, 42, 1);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 240px;
  height: 50px;
  color: rgb(249, 246, 240, 100%);
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 100%);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

#signUpBtn {
  background-color: rgba(26, 46, 42, 1);
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 240px;
  height: 50px;
  color: rgb(249, 246, 240, 100%);
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 100%);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.box-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(239, 233, 219, 60%);
  border-radius: 65px;
  width: 575px;
  height: 700px;
}

.box2 {
  position: absolute;
  width: 550px;
  height: 675px;
  background-color: rgb(239, 233, 219, 100%);
  border-radius: 65px;
  text-align: center;
  padding-top: 14px;
  font-size: 60px;
  font-weight: 900;
}

.logo {
  height: 250px;
}

.box3 {
  position: center;
  top: 45px;
  left: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  z-index: 5;
}

.box4 {
  position: fixed;
  top: 365px;
  width: 250px;
  text-align: center;
  font-size: 15px;
}