@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@900&display=swap");

body {
  background-image: url("../../images/homeBookCase.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(249, 246, 240, 100%);
  font-family: "Roboto", sans-serif;
}

#emailBox {
  background-color: rgb(255, 255, 255, 100%);
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 350px;
  height: 50px;
  padding: 5px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 40%);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

#passwordBox {
  background-color: rgb(255, 255, 255, 100%);
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 350px;
  height: 50px;
  padding: 5px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 40%);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 50%;
  left: 50%;
  position: static;
}

#loginBtn {
  background-color: rgba(26, 46, 42, 1);
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 250px;
  height: 50px;
  color: rgb(249, 246, 240, 100%);
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 100%);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

#signUpBtn {
  background-color: rgba(26, 46, 42, 1);
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 250px;
  height: 50px;
  color: rgb(249, 246, 240, 100%);
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 100%);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.box-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  position: fixed;
  width: 532px;
  height: 568px;
  background-color: rgba(242, 239, 224, 0.66);
  padding: 20px;
  border-radius: 65px;
  text-align: center;
}

.box2 {
  position: fixed;
  width: 499px;
  height: 532px;
  background-color: rgba(242, 239, 224, 1);
  border-radius: 65px;
  text-align: center;
  padding-top: 24px;
  font-size: 60px;
  font-weight: 900;
}

.box2 img {
  height: 250px;
  position: center;
}

.box3 {
  position: fixed;
  top: -159px;
  width: 300px;
  height: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.box4 {
  position: fixed;
  top: -112px;
  width: 250px;
  height: 60px;
  text-align: center;
  font-size: 18px;
}
*/ .box5 {
  position: fixed;
  top: -76px;
  width: 250px;
  height: 60px;
  text-align: center;
  font-size: 18px;
}
