.libraryCardContainer {
    border: 1px solid lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    background-color: rgb(249, 246, 240, 100%);
}

.lcContainer {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 20px;
}

.mylibtitle {
    display: flex;
    justify-content: center;
    border: 1px solid lime;
    margin-top: 120px;
    width: 100%;
}